/* alternate font-sizing */
.sm-smaller 
{
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}

.sm-small
{
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}

.sm-big 
{
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}

.sm-bigger
{
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}

.sm-biggest 
{
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}


/*********************** POSITION************************/

/*
    Flex Containers

    Des boîtes flexibles, également appelées conteneurs flex, sont créées en définissant la propriété d'affichage sur un élément conteneur. 
    Les propriétés sont énumérées ici dans un ordre spécifique avec les syntaxes de brouillon de travail d'abord et la recommandation 
    actuelle du candidat syntaxe standard en dernier.
*/

.sm-display-flex
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.sm-display-inline-flex
{
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

/*

Orientation et orientation de l'axe principal

Ces propriétés spécifient comment les éléments sont placés dans le conteneur,
en définissant l'orientation et la direction de l'axe principal du conteneur

*/

.sm-flex-direction-column
{
    -webkit-box-orient: block-axis;
    -webkit-box-direction: normal;
    -moz-box-orient: block-axis;
    -moz-box-direction: reverse;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; 
}


.sm-flex-direction-column-reverse
{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -moz-box-orient:horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; 
}

.sm-flex-direction-row 
{
    -webkit-box-orient: inline-axis;
    -webkit-box-direction:normal;
    -moz-box-orient:inline-axis;
    -moz-box-direction:normal;
    -ms-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction:row; 
}

.sm-flex-direction-row-reverse 
{
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
    -moz-box-orient:vertical;
    -moz-box-direction:reverse;
    -ms-flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
    flex-direction:row-reverse; 
}

/*
   Direction à un ou plusieurs lignes et à l'axe transversal

    Ces propriétés contrôlent si le conteneur flexible est simple ou multi-lignes, et la direction de l'axe transversal, 
    qui détermine la direction dans laquelle de nouvelles lignes sont empilées.
*/

.sm-flex-wap
{    
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap; /* Safari 6.1+ */
    flex-wrap:wrap;
}

.sm-flex-no-wap
{    
   -webkit-box-lines:single;
   -moz-box-lines:single;
   -ms-flex-wrap:none;
   -webkit-flex-wrap:nowrap; /* Safari 6.1+ */
   flex-wrap:nowrap;
}

.sm-flex-wrap-reverse
{    
   -webkit-box-lines:multiple;
   -moz-box-lines:multiple;
   -ms-flex-wrap:wrap-reverse;
   -webkit-flex-wrap:wrap-reverse; /* Safari 6.1+ */
   flex-wrap:wrap-reverse;
}


/*
    Alignement de l'axe principal et répartition de l'espace supplémentaire

    Ces propriétés alignent les éléments flexibles le long de l'axe principal de la ligne courante du conteneur flex. 
    Cela se fait après toutes les longueurs flexibles et toutes les marges automatiques ont été résolues.
*/


.sm-flex-justify-center
{
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center ;
}

.sm-flex-end 
{    
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack:end;
    -webkit-justify-content:flex-end;
    justify-content:flex-start;
}

.sm-flex-start
{    
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack:start;
    -webkit-justify-content:flex-start;
    justify-content:flex-start;
}

.sm-flex-justify-space-around
{
    justify-content: space-around;
}


.sm-flex-justify-space-between
{
    justify-content: space-between;
}

/*
    Alignement transversal de l'axe

    Les éléments flexibles peuvent être alignés dans l'axe transversal de la ligne courante du conteneur flexible, similaire à la section précédente,
    mais dans la direction perpendiculaire. Ces propriétés sont appliquées au conteneur flexible.
*/


.sm-align-items-baseline
{
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items:  baseline;
}


.sm-align-items-center
{
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items:center;
    align-items: center;
}

.sm-align-items-end
{
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end; 
}

.sm-align-items-start
{
    -webkit-box-align: start; 
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items:flex-start;
    align-items: flex-start;
}


.sm-align-items-stretch
{
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}


/*
    Styling float
*/

.sm-clear-both
{
    clear:both;
}

/*
    padding top 
*/

.sm-padding-top-0
{
    padding-top:0;
}

.sm-padding-top-10
{
    padding-top:10%;
}

.sm-padding-top-20
{
    padding-top:20%;
}

.sm-padding-left-30
{
    padding-top:30%;
}

.sm-padding-top-40
{
    padding-top:40%;
}

.sm-padding-top-50
{
    padding-top:50%;
}

.sm-padding-top-60
{
    padding-left:60%;
}

.sm-padding-top-70
{
    padding-top:70%;
}

.sm-padding-top-80
{
    padding-left:80%;
}

.sm-padding-top-90 
{
    padding-top: 90%;
}

.sm-padding-top 
{
    padding-left: 100%;
}


/*
    padding right 
*/

.sm-padding-right-0
{
    padding-right:0;
}

.sm-padding-right-10
{
    padding-right:10%;
}

.sm-padding-right-20
{
    padding-right:20%;
}

.sm-padding-right-30
{
    padding-right:30%;
}

.sm-padding-right-40
{
    padding-right:40%;
}

.sm-padding-right-50
{
    padding-right:50%;
}

.sm-padding-right-60
{
    padding-right:60%;
}

.sm-padding-right-70
{
    padding-right:70%;
}

.sm-padding-right-80
{
    padding-right:80%;
}

.sm-padding-right-90 
{
    padding-right: 90%;
}

.sm-padding-right 
{
    padding-right: 100%;
}

/*
    padding bottom 
*/

.sm-padding-bottom-0
{
    padding-bottom:0;
}

.sm-padding-bottom-10
{
    padding-bottom:10%;
}

.sm-padding-bottom-20
{
    padding-bottom:20%;
}

.sm-padding-bottom-30
{
    padding-bottom:30%;
}

.sm-padding-bottom-40
{
    padding-bottom:40%;
}

.sm-padding-bottom-50
{
    padding-bottom:50%;
}

.sm-padding-bottom-60
{
    padding-bottom:60%;
}

.sm-padding-bottom-70
{
    padding-bottom:70%;
}

.sm-padding-bottom-80
{
    padding-bottom:80%;
}

.sm-padding-bottom-90 
{
    padding-bottom: 90%;
}

.sm-padding-bottom 
{
    padding-bottom : 100%;
}

/*
    padding left 
*/

.sm-padding-left-0
{
    padding-left:0;
}

.sm-padding-left-10
{
    padding-left:10%;
}

.sm-padding-left-20
{
    padding-left:20%;
}

.sm-padding-left-30
{
    padding-left:30%;
}

.sm-padding-left-40
{
    padding-left:40%;
}

.sm-padding-left-50
{
    padding-left:50%;
}

.sm-padding-left-60
{
    padding-left:60%;
}

.sm-padding-left-70
{
    padding-left:70%;
}

.sm-padding-left-80
{
    padding-left:80%;
}

.sm-padding-left-90 
{
    padding-left: 90%;
}

.sm-padding-left 
{
    padding-left: 100%;
}

/*
    margin top 
*/

.sm-margin-top-0
{
    margin-top:0;
}

.sm-margin-top-10
{
    margin-top:10%;
}

.sm-margin-top-20
{
    margin-top:20%;
}

.sm-margin-top-30
{
    margin-top:30%;
}

.sm-margin-top-40
{
    margin-top:40%;
}

.sm-margin-top-50
{
    margin-top:50%;
}

.sm-margin-top-60
{
    margin-top:60%;
}

.sm-margin-top-70
{
    margin-top:70%;
}

.sm-margin-top-80
{
    margin-top:80%;
}

.sm-margin-top-90 
{
    margin-top: 90%;
}

.sm-margin-top 
{
    margin-top: 100%;
}


/*
    margin right 
*/

.sm-margin-right-0
{
    margin-right:0;
}

.sm-margin-right-10
{
    margin-right:10%;
}

.sm-margin-right-20
{
    margin-right:20%;
}

.sm-margin-right-30
{
    margin-right:30%;
}

.sm-margin-right-40
{
    margin-right:40%;
}

.sm-margin-right-50
{
    margin-right:50%;
}

.sm-margin-right-60
{
    margin-right:60%;
}

.sm-margin-right-70
{
    margin-right:70%;
}

.sm-margin-right-80
{
    margin-right:80%;
}

.sm-margin-right-90 
{
    margin-right: 90%;
}

.sm-margin-right 
{
    margin-right: 100%;
}

/*
    padding bottom 
*/

.sm-margin-bottom-0
{
    margin-bottom:0;
}

.sm-margin-bottom-10
{
    margin-bottom:10%;
}

.sm-margin-bottom-20
{
    margin-bottom:20%;
}

.sm-margin-bottom-30
{
    margin-bottom:30%;
}

.sm-margin-bottom-40
{
    margin-bottom:40%;
}

.sm-margin-bottom-50
{
   margin-bottom:50%;
}

.sm-margin-bottom-60
{
    margin-bottom:60%;
}

.sm-margin-bottom-70
{
    margin-bottom:70%;
}

.sm-margin-bottom-80
{
    margin-bottom:80%;
}

.sm-margin-bottom-90 
{
    margin-bottom: 90%;
}

.sm-margin-bottom 
{
    margin-bottom : 100%;
}

/*
    margin left 
*/

.sm-margin-left-0
{
    margin-left:0;
}

.sm-margin-left-10
{
    margin-left:10%;
}

.sm-margin-left-20
{
    margin-left:20%;
}

.sm-margin-left-30
{
    margin-left:30%;
}

.sm-margin-left-40
{
    margin-left:40%;
}

.sm-margin-left-50
{
    margin-left:50%;
}

.sm-margin-left-60
{
    margin-left:60%;
}

.sm-margin-left-70
{
    margin-left:70%;
}

.sm-margin-left-80
{
    margin-left:80%;
}

.sm-margin-left-90 
{
    margin-left: 90%;
}

.sm-margin-left 
{
    margin-left: 100%;
}



/*
************* block 
*/


/*
    column height
*/


.sm-column-10
{   
    height:10%;   
    margin:0;    
}

.sm-column-20
{    
    height:20%;    
    margin:0;    
}

.sm-column-30
{    
    height:30%;  
    margin:0;    
}

.sm-column-40
{    
    height:40%;    
    margin:0;
        
}

.sm-column-50
{    
    height:50%;    
    margin:0;
        
}

.sm-column-60
{
    height:60%;    
    margin:0;       
}

.sm-column-70
{    
    height:70%;
    margin:0;        
}

.sm-column-80
{    
    height:80%;    
    margin:0;    
}

.sm-column-90
{    
    height:90%;
    margin:0;    
}

.sm-column
{    
    height:100%;    
}

/*
    row lenght
*/

.sm-row-10
{
    width:10%;
    max-width:10%;
    min-width:10%; 
    margin:0;    
}

.sm-row-20
{
    width:20%; 
    max-width:20%;
    min-width:20%;     
    margin:0;    
}

.sm-row-30
{
    width:30%;
    max-width:30%;
    min-width:30%;
    margin:0;    
}

.sm-row-40
{
    width:40%;
    max-width:40%;
    min-width:40%;
    margin:0;        
}


.sm-row-50
{
    width:50%;    
    max-width:50%;
    min-width:50%;
}

.sm-row-60
{
    width:60%;    
    max-width:60%;
    min-width:60%;
    margin:0;
        
}

.sm-row-70
{
    width:70%;    
    max-width:70%;
    min-width:70%;
    margin:0;
        
}

.sm-row-80
{
    width:80%;
    max-width:80%;
    min-width:80%;
    margin:0;    
}

.sm-row-90
{
   width:90%;   
   max-width:90%;
   min-width:90%;
}

.sm-row
{
   width:100%;
   max-width:100%;
   min-width:100%;
}



/*********************** THEME **************************/


.window-branding
{  
   text-align:center;        
}



/*
    CSS zones en tête du site
*/



 #accueil
 {
     margin-top:200px;
 }

#navigation
{
    position:fixed;
    background-color:white;
    top:0px;  
    z-index: 10; 
    padding-bottom:10px;
    height:auto;
    width:100%;
}


.logo img
{
    padding:10px;
    height:auto;
    width:30%;
}
    
nav
{    
    order:1;
    flex-direction:row;
    font-weight:bold;
}



#slide
{
    display:none;
}


/*
    CSS zones Services
*/

#service
{       
    padding-bottom:5%;
    height:auto;
    width:450px; 
    margin:auto;
}

.img-window-branding
{
    margin: 10% auto 0 auto;
}

.article-branding
{
    padding-top:10%;
}

.article-window-branding
{    
    margin: 0;
}



.content-article
{
    padding-top:5px;
    padding-left:5px;
    margin-left:70px;
}





/*
    CSS zones en Projet
*/

#project
{           
    flex-wrap:wrap;    
    padding-bottom:5%;
    height:auto;
    width:450px; 
    margin:auto;
}



.portfolio
{       
    display:flex;  
    flex-wrap:wrap;
	list-style-type: none;
	margin: 0px;
	padding: 0px;		
}

.portfolio li
{     
    height: auto; 
    width: 40%;
    margin: 15px;   	
}

.portefolio-text
{
    top: 40px;    
    width: 100%;   
    width: 100%;
    height: 60px; 
    position: relative;     
    color:white;
}

/*
    CSS zones Contact
*/

#contact 
{
    padding-bottom: 5%;
    height: auto;
    width: 450px;
    margin: auto;
}

.contact-card
{
    float:right;
    background-color:#fff;
    opacity:0.8;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:auto;
    padding:10px;
}

